<div class="wrapper">
  <div class=" header">
    <div class="title">
      <a href="{{post.link}}" target="blank">{{post.title}}</a>
    </div>
    <div class="nav">
      <button (click)="goBack()">
        < Go Back</button>
    </div>
  </div>
  <div class="box subheader">
   <a href="https://www.flickr.com/people/{{post.author_id}}" target="blank"> {{post.author}} </a> | Published {{ post.published | date}}
  </div>
  <div class="box sidebar">
    <img *ngIf="post.media" src="{{post.media['m']}}" alt="">
  </div>
  <div class="box content">Content
    <div [innerHTML]="post.description || ''">
    </div>
  </div>
  <div class="box footer">
    <span *ngFor="let tag of tags">
      <a href="#">{{tag}}</a>
    </span>
  </div>
