section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  grid-auto-rows: minmax(100px, auto);
  scroll-behavior: smooth;
  margin-top: 20px;
  @media (max-width: 1280px) {
    grid-template-columns: repeat(1, 1fr);
  }

}
