.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 2px rgba(10, 16, 20, 0.24), 0 0 2px rgba(10, 16, 20, 0.12);
  box-sizing: border-box;
  background: linear-gradient(145deg, #fee, #fff);

  @media (max-width: 800px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.thumbmail {
  grid-column: 1;
  grid-row: 1 / span 2;
  align-self: center;
  padding: 1em;
  background: linear-gradient(145deg, #fee, #fff);
  border-right: #fee 1px solid;
  border-bottom: #fee 1px solid;
  border-radius: 2px;
  img {
    display: block;
    width: 100%;
    height: 100px;
    object-fit: contain;
  }
  @media (max-width: 800px) {
    grid-row: 1 / span 3;
  }
}
.title {
  // border-bottom: rgb(63, 25, 25) 1px solid;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  grid-column: 2 / span 3;
  align-self: flex-end;
  padding: 1em;
  a {
    color: hotpink;
  }
  @media (max-width: 800px) {
    grid-column: 2 / span 2;
  }
}
.author {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  grid-column: 2;
  grid-row: 2;
  align-self: flex-start;
  padding: 1em;
  a {
    color: #ad2b65;
  }
  @media (max-width: 800px) {
    grid-column: 2;
    grid-row: 3;
  }
}
.publishinfo {
  grid-column: 3;
  grid-row: 2;
  align-self: flex-start;
  padding: 1em;
  @media (max-width: 800px) {
    grid-column: 2 / span 2;
    grid-row: 2;
  }
}
.e {
  grid-column: 4;
  grid-row: 2;
  align-self: flex-start;
  padding: 1em;
  a {
    color: #ad2b65;
  }
  @media (max-width: 800px) {
    grid-column: 3;
    grid-row: 3;
  }
}
